.form-group{
    margin-bottom: 1rem;
}

.form-group .form-input > *{
    width: 100%;
}

.register-card label{
    font-weight: 500;
}

.form-input input{
    height: 25px !important;
    padding: 0.2rem 0 0.2rem 0.2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border-color: gray;
    border: 0.00001rem solid gray;
}

.form-input input:active{
    border: gray;
    box-shadow: 1px 1px 10px var(--primary);
    outline: gray !important;
    border: 1px solid;
}

.form-input input:focus{
    box-shadow: 1px 1px 10px var(--primary);
    outline: gray !important;
    border: 1px solid;
}